@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 a {
  @apply text-green-500 hover:underline;
 }
 input[type="checkbox"] {
  @apply accent-green-500 rounded focus:ring-green-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600;
 }
}

{{/* @media (max-width: 800px) {
  .square {
    width: 400px;
    height: 600px;
  }

  .chart {
    max-width: 400px;
    max-height: 600px;
  }

  .item {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .square {
    width: 300px;
    height: 450px;
  }

  .chart {
    max-width: 300px;
    max-height: 450px;
  }
  
  .item {
    font-size: 0.7rem;
  }
}

@media (max-width: 300px) {
  .square {
    width: 225px;
    height: 337.5px;
  }

  .chart {
    max-width: 225px;
    max-height: 337.5px;
  }
  
  .item {
    font-size: 0.525rem;
  }
} */}}